@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, del {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input, textarea {
  border: none;
  outline: none;
  background: transparent;
}

body {
  background: #0E0E0E;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main_container {
  max-width: 1312px;
  padding: 0 20px;
  margin: 0 auto;
}
.main_title {
  font-size: 30px;
  font-weight: 600;
}
.main_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.main_description span {
  font-weight: 700;
}
.main_input {
  height: 38px;
  width: 100%;
  background: #3C3C3C;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: #FFF;
  font-weight: 500;
}
.main_input::-moz-placeholder {
  color: #9A9A9A;
}
.main_input::placeholder {
  color: #9A9A9A;
}
.main_checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
}
.main_checkbox span {
  font-size: 12px;
  line-height: 15px;
  padding-left: 26px;
}
.main_checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.main_checkbox input::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #2A2A2A;
  border: 1px solid #919191;
  border-radius: 2px;
}
.main_checkbox input::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}
.main_checkbox input:checked::after {
  display: flex;
}

.sec_title {
  font-size: 27px;
  font-weight: 600;
  line-height: 50px;
}

.btn_red {
  border: 1px solid rgb(246, 49, 49);
  border-radius: 5px;
  box-shadow: 0px 0px 4px 4px rgba(161, 22, 22, 0.25);
  height: 40px;
  color: rgb(233, 35, 35);
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_red:hover {
  color: rgb(233, 35, 35);
}
.btn_danger {
  border-radius: 5px;
  background: linear-gradient(154.82deg, rgb(200, 47, 47) 11.465%, rgba(179, 25, 25, 0.99) 82.917%);
  padding: 10px 50px 10px 50px;
}
.btn_white {
  padding: 0 39px;
  border-radius: 5px;
  border: 1px solid white;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
}
.btn_like {
  display: flex;
  align-items: center;
  gap: 11px;
  color: #9F9F9F;
  font-size: 12px;
  font-weight: 500;
}
.btn_like img {
  filter: grayscale(100%);
}
.btn_like img.light {
  display: none;
}
.btn_like.active img {
  filter: grayscale(0%);
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header.theory_header .main_container {
  max-width: 1252px;
  padding: 0 40px;
}
.header__logo {
  position: relative;
  padding-left: 68px;
  margin-right: 63px;
}
.header__logo img {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}
.header__logo img:nth-child(2) {
  display: none;
}
.header__logo_text {
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
}
.header__logo_text span {
  color: rgb(233, 35, 35);
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;
}
.header__navs {
  gap: 50px;
}
.header__navs a {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  transition: 0.3s ease all;
}
.header__navs a.active, .header__navs a:hover {
  color: #E92323;
  text-decoration: underline;
}
.header__auth_link {
  font-size: 14px;
  line-height: 17px;
  margin-right: 35px;
}
.header__auth_link a {
  color: #e92323;
  display: inline;
}
.header__account {
  gap: 25px;
  margin-right: 73px;
}
.header__account a {
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}
.header__account a img.light {
  display: none;
}
.header__account .dagree {
  gap: 12px;
  font-size: 12px;
  color: #868686;
  font-weight: 600;
}
.header__account .dagree span {
  color: #F63131;
}
.header .btn_red {
  width: 164px;
  gap: 8px;
}
.header .btn_red svg {
  transition: 0.3s ease all;
}
.header .btn_red.active svg {
  transform: rotateZ(180deg);
}
.header .change_theme {
  position: relative;
}
.header .change_theme ul {
  position: absolute;
  margin-top: 15px;
  display: none;
}
.header .change_theme ul button {
  padding: 4px 30px;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}
.header .change_theme ul button.active {
  color: #E92323;
}
.header_task .main_container {
  max-width: calc(100vw - 200px);
}
.header__my_class .main_container {
  max-width: 1365px;
}

.home {
  position: relative;
}
.home .main_container {
  padding: 265px 0 137px;
  position: relative;
}
.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.home__bg_circle {
  position: absolute;
  z-index: -1;
  top: 428px;
  width: 461px;
  height: 556px;
  border-radius: 50%;
  filter: blur(141px);
  background: linear-gradient(165.43deg, rgba(188, 41, 41, 0.13) 46.437%, rgba(128, 15, 15, 0.83) 86.799%);
}
.home__title {
  max-width: 897px;
  font-size: 40px;
  font-weight: 600;
  line-height: 76px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.home__title .dark {
  color: #E92323;
}
.home p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
  max-width: 521px;
}
.home__left_card {
  position: absolute;
  z-index: -1;
  left: -91px;
  top: 148px;
}
.home__left_card.light {
  display: none;
}
.home__right_card {
  position: absolute;
  top: 130px;
  right: 0;
  z-index: -1;
}
.home__right_card.light {
  display: none;
}

.interactive {
  margin-bottom: 68px;
}
.interactive__block {
  padding: 79px 64px 89px;
  border-radius: 5px;
  background: url("../images/interactive_bg.png") center/cover no-repeat;
  position: relative;
  margin-bottom: 68px;
}
.interactive__icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E92323;
  border-radius: 3px;
  color: black;
}
.interactive__title {
  margin: 23px 0;
}
.interactive__description {
  width: 550px;
  margin-bottom: 38px;
}
.interactive .btn_red {
  padding: 0 20px;
}
.interactive__card {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.interactive__card .icon {
  position: absolute;
  top: 30px;
  right: 27.5px;
  opacity: 0.5;
}
.interactive__bottom_card {
  gap: 64px;
}
.interactive__bottom_card__item {
  width: 100%;
  background: url("../images/interactive_bottom_card_bg.png") center/cover no-repeat;
  padding: 68px 28px 58px 66px;
  border-radius: 5px;
  position: relative;
}
.interactive__bottom_card__item img.light {
  display: none;
}
.interactive__bottom_card__item:nth-child(1) img {
  position: absolute;
  top: 27px;
  right: 11px;
}
.interactive__bottom_card__item:nth-child(2) img {
  position: absolute;
  bottom: 9px;
  right: 11px;
}
.interactive__bottom_card__item h2 {
  margin-bottom: 34px;
}
.interactive__bottom_card__item h2 span {
  background: linear-gradient(to right, #DE3232, #7E0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.community_support {
  margin-bottom: 75px;
}
.community_support__block {
  gap: 123px;
  background: url("../images/community_support_bg.png") center/cover no-repeat;
  border-radius: 5px;
  min-height: 413px;
  padding: 31px 50px 50px 62px;
}
.community_support__block_item:nth-child(1) {
  width: 533px;
}
.community_support__block_item:nth-child(2) {
  width: 503px;
}
.community_support__block_item img.light {
  display: none;
}
.community_support__block_item h2 {
  margin: 13px 0;
}
.community_support__block_item h2 span {
  color: rgba(255, 34, 34, 0.81);
}
.community_support__block_item p {
  font-weight: 600;
}

.join_us {
  margin-bottom: 76px;
}
.join_us .main_container {
  position: relative;
  z-index: 1;
}
.join_us__bg {
  width: 408px;
  height: 343px;
  filter: blur(141px);
  background: linear-gradient(165.43deg, rgba(188, 41, 41, 0.13) 46.271%, rgba(69, 14, 14, 0.47) 86.183%);
  position: absolute;
  z-index: -1;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
}
.join_us__title {
  margin-bottom: 28px;
}
.join_us__title span {
  background: linear-gradient(to right, #DE3232, #7E0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.join_us .btn_white {
  margin-bottom: 58px;
}
.join_us__card {
  background: url("../images/join_us_card_bg.png") center/cover no-repeat;
  padding: 62px 72px 69px 68px;
  border-radius: 5px;
  position: relative;
}
.join_us__card_left h3 {
  margin-bottom: 13px;
}
.join_us__card_left img {
  position: absolute;
  top: 39px;
  left: 351px;
}
.join_us__card_left img.light {
  display: none;
}
.join_us__card_link {
  gap: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}
.join_us__card_link img.light {
  display: none;
}
.join_us__card_right__bg {
  position: absolute;
  right: 394px;
  bottom: 22px;
}
.join_us__card_right__bg.light {
  display: none;
}
.join_us__card .networks li {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
}
.join_us__card .networks li img.light {
  display: none;
}
.join_us__card .networks li:nth-child(1) {
  margin-right: 20px;
}
.join_us__card .networks li:nth-child(2) {
  margin-right: 14px;
}
.join_us__card .networks li:nth-child(3) {
  margin-right: 10px;
}

.doubts {
  margin-bottom: 94px;
}
.doubts__title {
  margin-bottom: 13px;
}
.doubts__description {
  max-width: 475px;
  margin: 0 auto 58px;
  font-weight: 600;
}
.doubts__description span {
  font-weight: 600;
  display: inline;
}
.doubts__card {
  gap: 40px;
}
.doubts__card_item {
  width: 100%;
  background: url("../images/doubts_card_bg.png") center/cover no-repeat;
  border-radius: 5px;
  padding: 19px 25px 21px;
}
.doubts__card_item img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}
.doubts__card_item p {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin: 9px 0;
}
.doubts__card_item h3 {
  color: rgb(233, 35, 35);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-bottom: 7px;
}
.doubts__card_item h4 {
  font-size: 12px;
  line-height: 15px;
}

.ready {
  padding-bottom: 137px;
}
.ready__card {
  background: url("../images/ready_card_bg.png") center/cover no-repeat;
  border-radius: 5px;
  padding: 17px 35px 35px;
}
.ready__icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E92323;
  color: black;
  font-size: 16px;
  border-radius: 3px;
}
.ready__title {
  margin: 20px 0;
}
.ready__description {
  margin-bottom: 35px;
  font-weight: 600;
}
.ready__description span {
  font-weight: 600;
}

.register {
  min-height: 100vh;
  width: 100%;
  background: url("../images/auth_bg.png") center/cover no-repeat;
}
.register .main_container {
  padding: 185px 0 130px;
  position: relative;
  z-index: 1;
}
.register__bg {
  position: absolute;
  z-index: -1;
  width: 641px;
  height: 516px;
  top: 236px;
  left: 50%;
  transform: translateX(calc(-50% + 20px));
  border-radius: 50%;
  filter: blur(141px);
  background: linear-gradient(165.43deg, rgba(188, 41, 41, 0.13) 46.032%, rgba(128, 15, 15, 0.66) 85.299%);
}
.register__title {
  margin-bottom: 60px;
}
.register__form {
  max-width: 854px;
  margin: 0 auto;
  background: rgba(40, 40, 40, 0.71);
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);
  padding: 49px 93px 36px 97px;
  border-radius: 5px;
  gap: 20px;
}
.register__form label {
  font-size: 15px;
}
.register__form_right {
  width: 378px;
  gap: 15px;
}
.register__form .bottom_checkbox {
  margin: 10px 0 18px;
}
.register__form .bottom_checkbox input::before {
  border-color: #919191;
  background: #fff;
}
.register__form .bottom_checkbox input::after {
  color: #e92323;
  font-weight: 600;
}
.register__form .radio_wrap {
  gap: 33px;
}
.register__form .form_submit button {
  color: white;
}

.login {
  min-height: 100vh;
  width: 100%;
  background: url("../images/auth_bg.png") center/cover no-repeat;
}
.login .main_container {
  padding: 185px 0 111px;
  position: relative;
  z-index: 1;
}
.login__bg {
  width: 553px;
  height: 410px;
  filter: blur(141px);
  background: linear-gradient(165.43deg, rgba(188, 41, 41, 0.13) 45.556%, rgba(128, 15, 15, 0.66) 83.535%);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 240px;
  left: 50%;
  transform: translateX(calc(-50% - 20px));
}
.login__title {
  line-height: 55px;
  margin-bottom: 60px;
}
.login__form {
  max-width: 503px;
  margin: 0 auto;
  background: rgba(40, 40, 40, 0.71);
  padding: 34px 62px 37px 63px;
  border-radius: 5px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.25);
  gap: 17px;
}
.login__form .form_group {
  gap: 20px;
}
.login__form .form_submit {
  margin-top: 13px;
  gap: 21px;
}
.login__form .form_submit .btn_danger {
  color: white;
}
.login__form .form_submit .btn_red {
  padding: 0 8px 0 9px;
}

.theory .main_container {
  position: relative;
  padding: 187px 40px 126px;
  max-width: 1252px;
  gap: 26px;
  z-index: 2;
  background: #0F0F10;
}
.theory__left {
  width: calc(100% - 342px - 26px);
  background: url("../images/theory_left_bg.png") center/cover no-repeat;
  border-radius: 5px;
  padding: 32px 45px 45px 51px;
  position: relative;
}
.theory__left .main_description {
  font-weight: 500;
}
.theory__pagination {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  transform: translateY(100%);
}
.theory__pagination a {
  font-size: 14px;
}
.theory__right {
  width: 342px;
  gap: 32px;
}
.theory__title {
  position: relative;
  padding-bottom: 32px;
}
.theory__title::before {
  content: "";
  background: #434343;
  position: absolute;
  height: 1px;
  width: calc(100% + 96px);
  left: -51px;
  bottom: 0;
}
.theory .online_trener {
  gap: 20px;
  margin: 63px 0 80px;
}
.theory .online_trener img {
  width: 337px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.theory .online_trener .title {
  font-size: 23px;
  text-decoration: underline;
}
.theory .online_trener p {
  margin: 23px 0;
  font-weight: 400;
}
.theory .online_trener .btn_red {
  height: 32px;
  width: 149px;
}
.theory .lesson_list {
  gap: 8px;
  margin-top: 50px;
}
.theory .lesson_list__title {
  font-size: 18px;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(9, 9, 9, 0.14) 11.507%, rgba(18, 8, 8, 0.18) 80.007%);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theory .lesson_list__title svg {
  width: 25px;
}
.theory .lesson_list__title svg path {
  fill: #FFF;
}
.theory .lesson_list__child {
  padding-left: 20px;
  display: none;
}
.theory .lesson_list__child a {
  font-size: 14px;
  padding: 4px 0;
}
.theory__search {
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.theory__search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(243, 243, 243, 0.77), #9B6969);
  border-radius: 5px;
  opacity: 0.18;
  z-index: -1;
}
.theory__search input {
  width: 100%;
  height: 69px;
  padding: 0 55px 0 28px;
  font-size: 16px;
  color: #FFF;
}
.theory__search input::-moz-placeholder {
  color: #FFF;
}
.theory__search input::placeholder {
  color: #FFF;
}
.theory__search button {
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translateY(-50%);
}
.theory__search img.light {
  display: none;
}
.theory__category {
  background: url("../images/theory_category_bg.png") center/cover no-repeat;
  border-radius: 5px;
  padding: 24px 40px 62px 28px;
}
.theory__category h3 {
  color: #F63131;
  font-size: 16px;
  margin-bottom: 23px;
  text-transform: uppercase;
}
.theory__category h4 {
  color: #F63131;
  font-size: 14px;
  margin-bottom: 23px;
  text-transform: uppercase;
  padding-left: 20px;
}
.theory__category .parent_category {
  list-style-type: decimal;
  list-style-position: inside;
}
.theory__category .parent_category ::marker {
  display: inline;
  margin-left: -5px;
}
.theory__category ul {
  gap: 25px;
}
.theory__category ul li {
  font-size: 14px;
  padding-left: 0;
  position: relative;
}
.theory__category ul li a {
  display: inline;
}
.theory__category ul li.active a {
  text-decoration: underline;
}
.theory__category ul li img.light {
  display: none;
}
.theory__category ul .child_category {
  background: rgba(9, 9, 9, 0.57);
  width: calc(100% + 40px + 28px);
  margin: 25px 0 0 -28px;
  padding: 50px 0;
  gap: 0;
}
.theory__category ul .child_category li {
  font-size: 14px;
  cursor: pointer;
}
.theory__category ul .child_category li button {
  display: block;
  text-decoration: none;
  color: white;
  text-align: left;
  padding: 10px 28px;
  width: 100%;
}
.theory__category ul .child_category li button.active, .theory__category ul .child_category li button:active, .theory__category ul .child_category li button:hover, .theory__category ul .child_category li button:focus {
  background: #e92323;
}
.theory__category .networks li {
  padding: 0;
  gap: 15px;
}
.theory__category .networks li::before {
  display: none;
}
.theory iframe {
  width: 363px;
  height: 243px;
  margin: 62px 0 40px;
}
.theory .theme_title {
  color: rgb(246, 49, 49);
  font-size: 23px;
  line-height: 28px;
  margin-bottom: 24px;
}
.theory .theme_description {
  font-size: 16px;
  line-height: 20px;
}

.editor_wrap {
  background: linear-gradient(197.77deg, rgba(0, 0, 0, 0.53) 33.859%, rgba(3, 3, 3, 0.39) 55.165%);
  border-radius: 5px;
  margin: 32px 0 40px;
}
.editor_wrap.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  z-index: 5;
  background: #1e1e1e;
  margin: 0;
}
.editor_wrap.active .code-editor {
  height: calc(100% - 37px) !important;
}
.editor_wrap.active .ace_scrollbar.ace_scrollbar-v::-webkit-scrollbar {
  display: none;
}
.editor_wrap .code-editor {
  margin-top: 2px;
}
.editor_wrap .main_checkbox span {
  padding-left: 0px;
}
.editor_wrap .main_checkbox input::before, .editor_wrap .main_checkbox input::after {
  right: -20px;
  left: auto;
  top: 13px;
}
.editor_wrap .editor_top {
  padding: 14px 23px 13px;
  border-bottom: 1px solid #323232;
  gap: 25px;
}
.editor_wrap .editor_top .btn_red {
  width: 79px;
  height: 20px;
  padding: 0;
  font-size: 10px;
}
.editor_wrap .editor_head {
  background: #2E2E2E;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.18px 16.1px 7.97px;
  border-radius: 2px;
}
.editor_wrap .editor_head h5 {
  font-size: 12px;
  font-weight: 600;
}
.editor_wrap .editor_head .full_screen img.light {
  display: none;
}
.editor_wrap .ace-monokai {
  background: transparent;
}
.editor_wrap .ace-monokai .ace_gutter {
  background: transparent;
  border: 0;
  border-right: 1px solid #4A4A4A;
}

.anons {
  position: fixed;
  height: 100%;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 1;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
}

.tasks .main_container {
  padding-top: 187px;
  padding-bottom: 83px;
  display: flex;
  align-items: flex-start;
  gap: 46px;
}
.tasks__left {
  width: 362px;
  padding: 36px 21px 63px 38px;
  border-radius: 5px;
  background: linear-gradient(197.77deg, rgba(127, 127, 127, 0.14) 10.999%, rgba(114, 75, 75, 0.18) 61.507%);
}
.tasks__left .title {
  color: rgb(246, 49, 49);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  margin-bottom: 37px;
}
.tasks__left .tasks_wrap {
  list-style-type: decimal;
  list-style-position: inside;
  gap: 25px;
}
.tasks__left .tasks_wrap__item span {
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}
.tasks__left .tasks_wrap__item:not(:first-child) .child_tasks {
  display: none;
}
.tasks__left .child_tasks {
  background: rgba(9, 9, 9, 0.57);
  width: calc(100% + 59px);
  margin-left: -38px;
  padding: 14px 0 23px 0;
  margin-top: 15px;
}
.tasks__left .child_tasks__title {
  color: #EE3636;
  margin-bottom: 19px;
  padding: 0 21px 0 38px;
}
.tasks__left .child_tasks li:not(.child_tasks__title) button {
  width: 100%;
  text-align: left;
  color: #D8D8D8;
  font-size: 14px;
  font-weight: 500;
  padding: 7.5px 0 7.5px 38px;
}
.tasks__left .child_tasks li:not(.child_tasks__title) button:hover, .tasks__left .child_tasks li:not(.child_tasks__title) button.active {
  background: linear-gradient(90deg, rgba(221, 22, 22, 0.54), rgba(148, 25, 25, 0.61) 100%);
}
.tasks__left .child_tasks li:not(.child_tasks__title) button.ended {
  background: linear-gradient(90deg, rgba(22, 221, 22, 0.54), rgba(25, 148, 31, 0.61) 100%);
}
.tasks__right {
  width: calc(100% - 408px);
}
.tasks__right_title {
  margin-bottom: 16px;
}
.tasks__right_title span {
  color: #F63131;
}
.tasks__right .btn_like {
  margin-bottom: 43px;
}
.tasks__right iframe {
  width: 363px;
  height: 243px;
  margin-bottom: 25px;
}
.tasks__right h3 {
  color: #FFF;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
.tasks__right p {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}
.tasks__right p span {
  color: #e92323;
}
.tasks__right p a {
  color: #e92323;
  text-decoration: underline;
}
.tasks__right table {
  border-collapse: collapse;
  width: 100%;
}
.tasks__right table td {
  border: 1px solid #323232;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
}
.tasks__right table td span {
  color: #e92323;
}
.tasks__right table td:nth-child(1) {
  width: 110px;
}
.tasks__right table td:nth-child(1) span {
  font-weight: 500;
}
.tasks__right table thead td {
  font-weight: 600;
}
.tasks__title {
  gap: 11px;
  margin-bottom: 38px;
}
.tasks__title img.light {
  display: none;
}
.tasks__title span {
  color: #F63131;
  font-size: 14px;
  font-weight: bold;
}
.tasks_rating {
  border-radius: 5px;
  gap: 40px;
  margin-bottom: 34px;
}
.tasks_rating__left, .tasks_rating__right {
  padding: 19px 16px 21px;
  border-radius: 5px;
  gap: 15px;
  width: calc(50% - 20px);
  background: linear-gradient(197.77deg, rgba(113, 113, 113, 0.14) 33.095%, rgba(86, 86, 86, 0.18) 55.376%);
}
.tasks .rating_line {
  position: relative;
  height: 23px;
  background: rgba(74, 74, 74, 0.58);
  border-radius: 5px;
  padding: 0 10px 0 14px;
  font-size: 10px;
  font-weight: 500;
}
.tasks .rating_line__bg {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, rgba(255, 49, 49, 0.58), rgba(174, 8, 8, 0.58) 100%);
  border-radius: 5px;
}
.tasks .rating_line .value {
  position: relative;
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 8px;
}
.tasks .rating_line .key {
  position: relative;
  color: #959595;
}
.tasks .theme_cards {
  gap: 18px 17px;
  margin-bottom: 36px;
}
.tasks .theme_cards__item {
  width: 270px;
  border-radius: 5px;
  padding: 10px 12px 16px 11px;
  background: linear-gradient(197.77deg, rgba(62, 61, 61, 0.14) 29.286%, rgba(48, 47, 47, 0.18) 56.433%);
}
.tasks .theme_cards__item h3 {
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 9px;
}
.tasks .theme_cards__item h3 span {
  color: #FF3A3A;
}
.tasks .theme_cards__item h4 {
  font-size: 14px;
  margin-bottom: 14px;
}
.tasks_level {
  padding-right: 50px;
}
.tasks_level h4 {
  gap: 18px;
  margin-bottom: 36px;
}
.tasks_level h4 img.light {
  display: none;
}
.tasks_level h4 span {
  color: #F63131;
  font-size: 14px;
  font-weight: bold;
}
.tasks_level ul {
  width: 490px;
  gap: 11px;
}
.tasks_level ul li h5 {
  width: 82px;
  color: #9F9F9F;
  font-size: 13px;
}
.tasks_level ul li .rating_line {
  width: calc(100% - 82px);
}
.tasks_level__right h3 {
  color: #D8D8D8;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 36px;
}
.tasks_level__right .circle_progress {
  position: relative;
}
@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@property --pgPercentage {
  .tasks_level__right .circle_progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
}
.tasks_level__right .circle_progress div[role=progressbar] {
  --size: 166px;
  --fg: #F63131;
  --bg: rgba(74, 74, 74, 0.58);
  --pgPercentage: var(--value);
  animation: growProgressBar 0s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, #0F0F10 75%, transparent 0 99.9%, #0F0F10 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}
.tasks_level__right .circle_progress div[role=progressbar]::before {
  counter-reset: percentage var(--value);
}
.tasks_level__right .circle_progress .level_value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  text-align: center;
  font-size: 12px;
}
.tasks_level__right .circle_progress .level_value span {
  color: #F63131;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8.66px;
  display: block;
}

.task_one .main_container {
  max-width: calc(100vw - 200px);
}
.task_one__navs {
  position: absolute;
  left: 0;
  z-index: 4;
  top: 196px;
  height: calc(100% - 196px);
  background: rgba(35, 35, 35, 0.66);
  border-radius: 5px;
  border: 1px solid rgba(100, 100, 100, 0.22);
}
.task_one__navs_length {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease all;
}
.task_one__navs_length__item {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
}
.task_one__navs_length__item .tr_number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  height: 64px;
  width: 60px;
  flex-shrink: 0;
}
.task_one__navs_length__item .tr_number.active {
  color: #F63131;
}
.task_one__navs_length__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(96, 94, 94, 0.43);
}
.task_one__navs .less {
  padding: 20px 10px 5px 0;
  gap: 0;
  width: 0;
  width: 330px;
}
.task_one__navs .less_list {
  display: none;
  padding-top: 20px;
}
.task_one__navs .less__title {
  font-size: 14px;
  font-weight: 600;
  color: #EE3636;
  padding-bottom: 10px;
}
.task_one__navs .less li {
  margin: 0;
}
.task_one__navs .less button {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  width: 100%;
  padding: 7.5px;
}
.task_one__navs .less button:hover, .task_one__navs .less button.active {
  background: linear-gradient(90deg, rgba(221, 22, 22, 0.54), rgba(148, 25, 25, 0.61) 100%);
}
.task_one__navs .less button.ended {
  background: linear-gradient(90deg, rgba(22, 221, 22, 0.54), rgba(25, 148, 31, 0.61) 100%);
}
.task_one__navs .less span {
  font-size: 14px;
  display: block;
  cursor: pointer;
}
.task_one__navs .less_wrap {
  overflow: hidden;
  width: 0;
  transition: 0.3s ease all;
}
.task_one__navs.active {
  background: rgb(35, 35, 35);
}
.task_one__navs.active .less_wrap {
  width: 100%;
}
.task_one__navs.active .task_one__navs_length {
  width: 400px;
}
.task_one .main_container {
  padding-top: 196px;
}
.task_one .main_title {
  margin-bottom: 19px;
}
.task_one .main_title span {
  color: #F63131;
}
.task_one .sec_title {
  margin-bottom: 14px;
}
.task_one .subtitle {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
  color: #D0D0D0;
}
.task_one .subtitle span {
  font-weight: 600;
  color: #F63131;
}
.task_one__head {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 50px;
}
.task_one__head a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9F9F9F;
  font-size: 12px;
}
.task_one__head a img.light {
  display: none;
}
.task_one__content {
  display: flex;
  align-items: stretch;
  gap: 30px;
}
.task_one__content_left {
  width: calc(50% - 15px);
  background: rgba(35, 35, 35, 0.66);
  border-radius: 5px;
  padding: 38px 56px 38px 34px;
}
.task_one__content_left h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 18px;
}
.task_one__content_left p {
  font-size: 13px;
  font-weight: 500px;
  margin-bottom: 51px;
}
.task_one__content_left p span {
  font-weight: 700;
}
.task_one__content_left .code {
  background: #171717;
  border-radius: 5px;
  white-space: pre;
  padding: 26px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 25px;
}
.task_one__content_left ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  list-style-type: disc;
  margin-left: 22px;
  max-width: 461px;
}
.task_one__content_left ul li {
  font-size: 13px;
  font-weight: 500;
}
.task_one__content_right {
  width: calc(50% - 15px);
}
.task_one .editor_wrap {
  margin: 0;
}
.task_one .solution_head {
  display: flex;
  align-items: center;
  margin-bottom: 19px;
  gap: 22px;
}
.task_one .solution_head button {
  height: 37px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  gap: 16px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #101010;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #363636;
  border-radius: 5px;
}
.task_one .solution_results {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
  margin: 25px 0;
}
.task_one .solution_results .editor_wrap {
  width: calc(50% - 15px);
}
.task_one .solution_test {
  padding-bottom: 48px;
}
.task_one .solution_test h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 28px;
}
.task_one .solution_test table {
  width: 100%;
}
.task_one .solution_test table td {
  border-top: 1px solid #3B3B3B;
  width: 33.3333333333%;
  padding: 7px 0 13px;
  font-size: 12px;
  font-weight: 500;
}
.task_one .solution_test table tbody td {
  padding: 16px 0 22px;
}
.task_one .solution_test table tbody span {
  display: block;
}
.task_one .solution_test table button {
  height: 27px;
  font-size: 10px;
  font-weight: 500;
  padding: 0 15px;
}

.teacher_office {
  padding: 181px 0 51px;
  min-height: 100vh;
}
.teacher_office__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 38px;
}
.teacher_office__head .btn_white {
  display: inline-flex;
  border: 1px solid #767676;
  color: #CCCCCC;
  height: auto;
  padding: 13px 49px;
}
.teacher_office__head_left .btn_white {
  margin-bottom: 40px;
}
.teacher_office__head_left .class_data {
  gap: 62px;
}
.teacher_office__head_left .class_id {
  font-size: 18px;
  font-weight: 600;
}
.teacher_office__head_right .class_name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 38px;
  text-decoration: underline;
}
.teacher_office__links {
  margin-bottom: 45px;
}
.teacher_office__links .btn_white {
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  padding: 7px 4px;
  color: #CCCCCC;
  border-color: #767676;
}
.teacher_office__table {
  border-radius: 5px;
  overflow: hidden;
}
.teacher_office__table table {
  border-collapse: collapse;
  width: 100%;
}
.teacher_office__table table td {
  border: 1px solid #686868;
  height: 35px;
  background: #262627;
  text-align: center;
  color: #CCCCCC;
}
.teacher_office__table table td.ended {
  background: #57AF38;
  color: #fff;
}
.teacher_office__table table td.active {
  background: #E92323;
  color: #fff;
}
.teacher_office__table table td:nth-child(2) {
  text-align: left;
  padding: 0 14px;
}
.teacher_office__table table td:first-child {
  background: rgba(45, 45, 45, 0.54);
}
.teacher_office__table table td:not(:nth-child(2)) {
  min-width: 35px;
  width: 35px;
}
.teacher_office__table table thead td {
  border-top: 0;
  font-size: 15px;
  font-weight: 600;
}
.teacher_office__table table thead td:first-child {
  border-left: 0;
}
.teacher_office__table table thead td:last-child {
  border-right: 0;
}
.teacher_office__table table tbody td {
  font-size: 13px;
  font-weight: 600;
}
.teacher_office__table table tbody td:first-child {
  border-left: 0;
  font-size: 15px;
}
.teacher_office__table table tbody td:last-child {
  border-right: 0;
}
.teacher_office__table table tbody tr:last-child td {
  border-bottom: 0;
}

.my_class {
  padding: 172px 0 66px;
  min-height: 100vh;
}
.my_class .main_container {
  max-width: 1365px;
}
.my_class__content {
  background: rgba(35, 35, 35, 0.66);
  border-radius: 5px;
}
.my_class__content_head {
  padding: 36px 98px;
  position: relative;
}
.my_class__content_head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #2A2828;
  box-shadow: 0 4px 3px #0B0B0B;
}
.my_class__content_head .my_class__form {
  gap: 36px;
}
.my_class__content_head .search {
  position: relative;
}
.my_class__content_head .search input {
  border: 1px solid #666666;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  width: 255px;
  border-radius: 5px;
  padding: 13px 50px 13px 20px;
}
.my_class__content_head .search input::-moz-placeholder {
  color: #fff;
}
.my_class__content_head .search input::placeholder {
  color: #fff;
}
.my_class__content_head .search__icon {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
}
.my_class__content_head .search__icon img.light {
  display: none;
}
.my_class__content_head .select {
  position: relative;
}
.my_class__content_head .select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  outline: none;
  background: transparent;
  border: 1px solid #666666;
  height: 45px;
  width: 167px;
  border-radius: 5px;
  padding: 0 13px;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.my_class__content_head .select select option {
  background: #232323;
}
.my_class__content_head .select img {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
.my_class__content_head .select img.light {
  display: none;
}
.my_class__content_head .btn_red {
  padding: 14px 38px;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600;
}
.my_class__content_body {
  padding: 64px 101px 68px 98px;
  gap: 35px;
}
.my_class__content_body li {
  width: calc(25% - 26.25px);
}
.my_class__content_body li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(16, 16, 16), rgb(25, 17, 17) 100%);
  height: 63px;
  text-decoration: underline;
}

.add_class {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: center;
}
.add_class.active {
  display: flex;
}
.add_class__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.add_class__content {
  width: 570px;
  padding: 50px 97px;
  position: relative;
  background: #141414;
}
.add_class__content_head {
  gap: 59px;
  margin-bottom: 24px;
}
.add_class__content input[type=number]::-webkit-inner-spin-button,
.add_class__content input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add_class__content .main_checkbox {
  display: flex;
  align-items: center;
  gap: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.add_class__content .main_checkbox span {
  font-size: 14px;
}
.add_class__content .main_checkbox input::before {
  background: #DFDFDF;
  color: #E92323;
}
.add_class__content .main_checkbox input::after {
  color: #E92323;
  font-weight: 900;
}
.add_class__content .form_control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.add_class__content .form_control label {
  font-size: 14px;
}
.add_class__content .form_control input {
  width: 100%;
  border: 1px solid rgb(84, 84, 84);
  border-radius: 2px;
  background: rgba(140, 140, 140, 0.29);
  height: 34px;
  padding: 0 14px;
  color: #fff;
}
.add_class__content .btns {
  gap: 24px;
}
.add_class__content .btns button {
  width: 145px;
}

body.light-theme {
  background: #F7F7F7;
  color: #1E1E1E;
}
body.light-theme .main_input {
  background: #FFF;
  color: #1E1E1E;
}
body.light-theme .main_input::-moz-placeholder {
  color: #9A9A9A;
}
body.light-theme .main_input::placeholder {
  color: #9A9A9A;
}
body.light-theme .main_checkbox input::before {
  background: #A5A5A5;
  border: 1px solid #919191;
}
body.light-theme .main_checkbox input::after {
  font-weight: 600;
}
body.light-theme .btn_red {
  border: 0;
  box-shadow: none;
  color: #fff;
  background: linear-gradient(to right, #3C7EE0, #21457A);
}
body.light-theme .btn_red:hover {
  color: #FFF;
}
body.light-theme .btn_danger {
  border: 0;
  box-shadow: none;
  color: #fff;
  background: linear-gradient(to right, #3C7EE0, #21457A);
}
body.light-theme .btn_danger:hover {
  color: #FFF;
}
body.light-theme .btn_white {
  border-color: #3C7EE0;
  color: #3C7EE0;
}
body.light-theme .btn_like {
  color: #1e1e1e;
}
body.light-theme .btn_like img {
  display: none;
}
body.light-theme .btn_like img.light {
  display: block;
}
body.light-theme .header__logo img {
  display: block;
}
body.light-theme .header__logo img:nth-child(1) {
  display: none;
}
body.light-theme .header__logo_text span {
  color: #3C7EE0;
}
body.light-theme .header__auth_link a {
  color: #3C7EE0;
  text-decoration: underline;
}
body.light-theme .header__navs a.active, body.light-theme .header__navs a:hover {
  color: #3C7EE0;
}
body.light-theme .header__account a img {
  display: none;
}
body.light-theme .header__account a img.light {
  display: block;
}
body.light-theme .header__account .dagree {
  color: #868686;
}
body.light-theme .header__account .dagree span {
  color: #3C7EE0;
}
body.light-theme .header .btn_red {
  width: 164px;
  gap: 8px;
}
body.light-theme .header .btn_red svg {
  transition: 0.3s ease all;
}
body.light-theme .header .btn_red.active svg {
  transform: rotateZ(180deg);
}
body.light-theme .header .change_theme {
  position: relative;
}
body.light-theme .header .change_theme button svg path {
  stroke: #FFF;
}
body.light-theme .header .change_theme ul button {
  color: #1e1e1e;
}
body.light-theme .header .change_theme ul button.active {
  color: #3C7EE0;
}
body.light-theme .home__bg {
  display: none;
}
body.light-theme .home__bg_circle {
  display: none;
}
body.light-theme .home__title .light {
  color: #3C7EE0;
}
body.light-theme .home__title .dark {
  color: inherit;
}
body.light-theme .home__left_card {
  left: -57px;
  top: 169px;
  display: none;
}
body.light-theme .home__left_card.light {
  display: block;
}
body.light-theme .home__right_card {
  top: 175px;
  right: -100px;
  display: none;
}
body.light-theme .home__right_card.light {
  display: block;
}
body.light-theme .interactive__block {
  background: #D6E6FF;
}
body.light-theme .interactive__icon {
  background: #3C7EE0;
  color: #FFF;
}
body.light-theme .interactive .btn_red {
  padding: 0 20px;
  background: transparent;
  border: 1px solid #3C7EE0;
  color: #3C7EE0;
}
body.light-theme .interactive__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(55deg, rgba(132, 132, 132, 0.59), rgba(64, 64, 64, 0.56));
}
body.light-theme .interactive__card .icon {
  opacity: 1;
  z-index: 2;
}
body.light-theme .interactive__bottom_card__item {
  background: #D6E6FF;
  z-index: 1;
}
body.light-theme .interactive__bottom_card__item img {
  display: block;
  z-index: -1;
}
body.light-theme .interactive__bottom_card__item img:not(.light) {
  display: none;
}
body.light-theme .interactive__bottom_card__item h2 span {
  background: linear-gradient(to right, #3C7EE0, #1D59B3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body.light-theme .community_support__block {
  background: url("../images/community_support_bg_light.png") center/cover no-repeat;
}
body.light-theme .community_support__block_item img {
  display: block;
}
body.light-theme .community_support__block_item img:not(.light) {
  display: none;
}
body.light-theme .community_support__block_item h2 span {
  color: #3C7EE0;
}
body.light-theme .join_us__bg {
  display: none;
}
body.light-theme .join_us__title span {
  background: linear-gradient(to right, #3C7EE0, #1E59B0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body.light-theme .join_us__card {
  background: #D6E6FF;
}
body.light-theme .join_us__card_left img {
  display: block;
}
body.light-theme .join_us__card_left img:not(.light) {
  display: none;
}
body.light-theme .join_us__card_right__bg {
  display: block;
}
body.light-theme .join_us__card_right__bg:not(.light) {
  display: none;
}
body.light-theme .join_us__card_link img {
  display: block;
}
body.light-theme .join_us__card_link img:not(.light) {
  display: none;
}
body.light-theme .join_us__card .networks li img {
  display: block;
}
body.light-theme .join_us__card .networks li img:not(.light) {
  display: none;
}
body.light-theme .doubts__description span {
  color: #3C7EE0;
}
body.light-theme .doubts__card_item {
  background: linear-gradient(to bottom, rgba(203, 217, 244, 0.2), rgba(75, 89, 117, 0.2));
}
body.light-theme .doubts__card_item h3 {
  color: #3C7EE0;
}
body.light-theme .ready__card {
  background: url("../images/ready_card_bg_light.png") center/cover no-repeat;
}
body.light-theme .ready__icon {
  background: #3C7EE0;
  color: #FFF;
}
body.light-theme .ready__title {
  margin: 20px 0;
}
body.light-theme .ready__description {
  margin-bottom: 35px;
}
body.light-theme .ready__description span {
  color: #3C7EE0;
}
body.light-theme .register {
  background: transparent;
}
body.light-theme .register__bg {
  display: none;
}
body.light-theme .register__form {
  background: #D6E6FF;
}
body.light-theme .register__form .bottom_checkbox input::before {
  background: #A5A5A5;
  border: 1px solid #919191;
}
body.light-theme .register__form .bottom_checkbox input::after {
  color: #FFF;
}
body.light-theme .register__form .form_submit button {
  color: white;
  background: linear-gradient(to right, #23A2E9, #2579A8);
  height: 39px;
  width: 183px;
  padding: 0;
  font-size: 14px;
}
body.light-theme .login {
  background: transparent;
}
body.light-theme .login .main_container {
  padding: 185px 0 111px;
  position: relative;
  z-index: 1;
}
body.light-theme .login__bg {
  display: none;
}
body.light-theme .login__title {
  line-height: 55px;
  margin-bottom: 60px;
}
body.light-theme .login__form {
  background: #D6E6FF;
}
body.light-theme .login__form .form_group {
  gap: 20px;
}
body.light-theme .login__form .form_submit {
  margin-top: 13px;
  gap: 21px;
}
body.light-theme .login__form .form_submit .btn_danger {
  height: 39px;
  background: linear-gradient(to right, #23A2E9, #2579A8);
  font-size: 14px;
  width: 114px;
  padding: 0;
}
body.light-theme .login__form .form_submit .btn_red {
  padding: 0;
  background: linear-gradient(to right, #3EB9E0, #3B91AC);
  width: 183px;
  font-size: 14px;
}
body.light-theme .theory .main_container {
  background: #FFFFFF;
}
body.light-theme .theory__left {
  background: #D6E6FF;
}
body.light-theme .theory__title::before {
  background: #B2C9D6;
}
body.light-theme .theory .online_trener .title {
  color: #3E3E3E;
}
body.light-theme .theory .online_trener .btn_red {
  border: 1px solid #3C7EE0;
  background: transparent;
  color: #3C7EE0;
}
body.light-theme .theory .lesson_list__title {
  background: linear-gradient(90deg, rgba(115, 159, 173, 0.14) 11.507%, rgba(149, 168, 182, 0.18) 80.007%);
}
body.light-theme .theory .lesson_list__title svg path {
  fill: #1E1E1E;
}
body.light-theme .theory__search::before {
  background: #D6E6FF;
  opacity: 1;
}
body.light-theme .theory__search input {
  color: #1e1e1e;
}
body.light-theme .theory__search input::-moz-placeholder {
  color: #737373;
}
body.light-theme .theory__search input::placeholder {
  color: #737373;
}
body.light-theme .theory__search img {
  display: block;
}
body.light-theme .theory__search img:not(.light) {
  display: none;
}
body.light-theme .theory__category {
  background: #D6E6FF;
}
body.light-theme .theory__category h3, body.light-theme .theory__category h4 {
  color: #3C7EE0;
}
body.light-theme .theory__category ul li::before {
  background: #1E1E1E;
}
body.light-theme .theory__category ul .child_category {
  background: rgba(189, 198, 249, 0.57);
}
body.light-theme .theory__category ul .child_category button {
  color: #1E1E1E;
}
body.light-theme .theory__category ul .child_category button.active, body.light-theme .theory__category ul .child_category button:active, body.light-theme .theory__category ul .child_category button:hover, body.light-theme .theory__category ul .child_category button:focus {
  background: linear-gradient(to right, rgba(22, 138, 221, 0.54), rgba(25, 37, 148, 0.6));
  color: white;
}
body.light-theme .theory__category .networks li img {
  display: block;
}
body.light-theme .theory__category .networks li img:not(.light) {
  display: none;
}
body.light-theme .editor_wrap {
  background: #fff;
  border: 1px solid #C9C9C9;
}
body.light-theme .editor_wrap .editor_top {
  border-bottom: 1px solid #BABABA;
}
body.light-theme .editor_wrap .editor_head {
  background: rgb(200, 222, 249);
}
body.light-theme .editor_wrap .editor_head .full_screen img {
  display: none;
}
body.light-theme .editor_wrap .editor_head .full_screen img.light {
  display: block;
}
body.light-theme .editor_wrap .ace-monokai {
  background: transparent;
}
body.light-theme .editor_wrap .ace-monokai .ace_line {
  color: #1E1E1E;
}
body.light-theme .editor_wrap .ace-monokai .ace_gutter {
  background: rgba(196, 196, 196, 0.64);
  border: 0;
}
body.light-theme .editor_wrap .ace-monokai .ace_gutter-active-line {
  background: transparent;
}
body.light-theme .editor_wrap .ace-monokai .ace_pare, body.light-theme .editor_wrap .ace-monokai .ace_identifier, body.light-theme .editor_wrap .ace-monokai .ace_paren, body.light-theme .editor_wrap .ace-monokai .ace_lparen, body.light-theme .editor_wrap .ace-monokai .ace_rparen, body.light-theme .editor_wrap .ace-monokai .ace_punctuation {
  color: #1E1E1E;
}
body.light-theme .editor_wrap .ace-monokai .ace_string {
  color: #68B23C;
}
body.light-theme .editor_wrap .code-editor {
  margin-top: 0;
}
body.light-theme .editor_wrap .ace-monokai .ace_entity.ace_name.ace_tag, body.light-theme .editor_wrap .ace-monokai .ace_keyword, body.light-theme .editor_wrap .ace-monokai .ace_meta.ace_tag, body.light-theme .editor_wrap .ace-monokai .ace_storage {
  color: #3C7EE0;
}
body.light-theme .tasks__left {
  background: #D6E6FF;
}
body.light-theme .tasks__left .title {
  color: #3C7EE0;
}
body.light-theme .tasks__left .child_tasks {
  background: rgba(189, 198, 249, 0.568627451);
}
body.light-theme .tasks__left .child_tasks__title {
  color: #3C7EE0;
}
body.light-theme .tasks__left .child_tasks li:not(.child_tasks__title) button {
  color: #1e1e1e;
}
body.light-theme .tasks__left .child_tasks li:not(.child_tasks__title) button:hover, body.light-theme .tasks__left .child_tasks li:not(.child_tasks__title) button.active {
  background: linear-gradient(90deg, rgba(22, 137, 221, 0.54), rgba(25, 38, 148, 0.61) 100%);
  color: #FFF;
}
body.light-theme .tasks__left .child_tasks li:not(.child_tasks__title) button.ended {
  background: linear-gradient(90deg, rgba(22, 221, 22, 0.54), rgba(25, 148, 31, 0.61) 100%);
  color: #FFF;
}
body.light-theme .tasks__right_title span {
  color: #3c7ee0;
}
body.light-theme .tasks__right h3 {
  color: #1e1e1e;
}
body.light-theme .tasks__right p {
  color: #1e1e1e;
}
body.light-theme .tasks__right p span {
  color: #3c7ee0;
}
body.light-theme .tasks__right p a {
  color: #3c7ee0;
}
body.light-theme .tasks__right table td {
  border: 1px solid #BABABA;
}
body.light-theme .tasks__right table td span {
  color: #3c7ee0;
}
body.light-theme .tasks__title img {
  display: none;
}
body.light-theme .tasks__title img.light {
  display: block;
}
body.light-theme .tasks__title span {
  color: #3C7EE0;
}
body.light-theme .tasks_rating__left, body.light-theme .tasks_rating__right {
  background: rgba(214, 230, 255, 0.77);
}
body.light-theme .tasks .rating_line {
  background: #fff;
}
body.light-theme .tasks .rating_line__bg {
  background: #6AA4FB;
}
body.light-theme .tasks .rating_line .key {
  color: #4E4E4E;
}
body.light-theme .tasks .theme_cards__item {
  background: rgba(214, 230, 255, 0.77);
}
body.light-theme .tasks .theme_cards__item h3 {
  color: #6F6F6F;
}
body.light-theme .tasks .theme_cards__item h3 span {
  color: #004CBE;
}
body.light-theme .tasks_level h4 img {
  display: none;
}
body.light-theme .tasks_level h4 img.light {
  display: block;
}
body.light-theme .tasks_level h4 span {
  color: #3C7EE0;
}
body.light-theme .tasks_level ul li h5 {
  color: #2E2E2E;
}
body.light-theme .tasks_level__right h3 {
  color: #3C7EE0;
}
body.light-theme .tasks_level__right .circle_progress {
  position: relative;
}
@keyframes growProgressBar {
  0%, 33% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: var(--value);
  }
}
@property --pgPercentage {
  body.light-theme .tasks_level__right .circle_progress {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }
}
body.light-theme .tasks_level__right .circle_progress div[role=progressbar] {
  --size: 166px;
  --fg: #3C7EE0;
  --bg: rgba(160, 160, 160, 0.58);
  --pgPercentage: var(--value);
  animation: growProgressBar 0s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, #FFFFFF 75%, transparent 0 99.9%, #FFFFFF 0), conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}
body.light-theme .tasks_level__right .circle_progress div[role=progressbar]::before {
  counter-reset: percentage var(--value);
}
body.light-theme .tasks_level__right .circle_progress .level_value span {
  color: #3C7EE0;
}
body.light-theme .task_one__navs {
  background: rgba(209, 233, 255, 0.66);
  border: 1px solid rgba(100, 100, 100, 0.22);
}
body.light-theme .task_one__navs_length__item .tr_number {
  color: #676666;
}
body.light-theme .task_one__navs_length__item .tr_number.active {
  color: #3C7EE0;
}
body.light-theme .task_one__navs_length__item::before {
  background: rgba(100, 100, 100, 0.22);
}
body.light-theme .task_one__navs .less__title {
  color: #3C7EE0;
}
body.light-theme .task_one__navs .less button {
  color: #1e1e1e;
  width: 100%;
  padding: 7.5px;
}
body.light-theme .task_one__navs .less button:hover, body.light-theme .task_one__navs .less button.active {
  background: linear-gradient(90deg, rgb(22, 90, 221), rgb(24, 152, 224) 100%);
  color: #FFF;
}
body.light-theme .task_one__navs .less button.ended {
  background: linear-gradient(90deg, rgba(22, 221, 22, 0.54), rgba(25, 148, 31, 0.61) 100%);
  color: #FFF;
}
body.light-theme .task_one__navs.active {
  background: rgb(209, 233, 255);
}
body.light-theme .task_one .main_title span {
  color: rgb(60, 126, 224);
}
body.light-theme .task_one .subtitle {
  color: #868686;
}
body.light-theme .task_one .subtitle span {
  color: #3C7EE0;
}
body.light-theme .task_one__head .btn_like {
  color: #868686;
}
body.light-theme .task_one__head a {
  color: #868686;
}
body.light-theme .task_one__head a img {
  display: none;
}
body.light-theme .task_one__head a img.light {
  display: block;
}
body.light-theme .task_one__content_left {
  background: rgba(214, 230, 255, 0.77);
}
body.light-theme .task_one__content_left .code {
  background: #fff;
  color: #5F5F5F;
}
body.light-theme .task_one .solution_head button {
  background: linear-gradient(180deg, rgb(78, 144, 242), rgb(24, 114, 178) 100%);
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;
}
body.light-theme .task_one .solution_test table {
  width: 100%;
}
body.light-theme .task_one .solution_test table td {
  border-top: 1px solid #959595;
}
body.light-theme .task_one .solution_test table button {
  background: transparent;
  color: #3C7EE0;
  border: 1px solid #3C7EE0;
}
body.light-theme .teacher_office__head_left .btn_white {
  background: linear-gradient(to right, #3C7EE0, #21457A);
  color: white;
}
body.light-theme .teacher_office__links .btn_white {
  color: #3C7EE0;
  border-color: #3C7EE0;
}
body.light-theme .teacher_office__table table td {
  border: 1px solid #929292;
  background: #D8E7FF;
  color: #3B3B3B;
}
body.light-theme .teacher_office__table table td.ended {
  background: #88E368;
  color: #fff;
}
body.light-theme .teacher_office__table table td.active {
  background: #E92323;
  color: #fff;
}
body.light-theme .teacher_office__table table td:nth-child(2) {
  text-align: left;
  padding: 0 14px;
}
body.light-theme .teacher_office__table table td:first-child {
  background: #DFECFF;
}
body.light-theme .my_class__content {
  background: rgba(214, 230, 255, 0.77);
}
body.light-theme .my_class__content_head::after {
  background: #AEAEAE;
  box-shadow: none;
}
body.light-theme .my_class__content_head .search input {
  border: 0;
  color: #6F6F6F;
  background-color: white;
}
body.light-theme .my_class__content_head .search input::-moz-placeholder {
  color: #6F6F6F;
}
body.light-theme .my_class__content_head .search input::placeholder {
  color: #6F6F6F;
}
body.light-theme .my_class__content_head .search__icon img {
  display: none;
}
body.light-theme .my_class__content_head .search__icon img.light {
  display: block;
}
body.light-theme .my_class__content_head .select select {
  border: 0;
  background: #fff;
  color: #6F6F6F;
}
body.light-theme .my_class__content_head .select select option {
  background: #6F6F6F;
  background-color: white;
}
body.light-theme .my_class__content_head .select img {
  display: none;
  z-index: 1;
}
body.light-theme .my_class__content_head .select img.light {
  display: block;
}
body.light-theme .my_class__content_head .btn_red {
  background: transparent !important;
  border: 1px solid #3C7EE0;
  color: #3C7EE0;
}
body.light-theme .my_class__content_body li a {
  background: #6099EF;
  color: #fff;
}
body.light-theme .add_class__content {
  background: #D6E6FF;
}
body.light-theme .add_class__content .main_checkbox input::before {
  background: #ADADAD;
  color: #FFF;
  border: 0;
}
body.light-theme .add_class__content .main_checkbox input::after {
  color: #FFF;
}
body.light-theme .add_class__content .form_control input {
  border: 0;
  background: #FFF;
  color: #2A2A2A;
}
body.light-theme .add_class__content .btns button {
  background: transparent;
  border: 1px solid #3C7EE0;
  color: #3C7EE0;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */